PORT=3000
DATABASE_URL=postgresql://postgres:Agata181213$$$@localhost:5432/vpndb
JWT_SECRET=mK9xP2nQ7vR4wL8jH3dF6cB1yN5tG0sA

FREEKASSA_MERCHANT_ID=70757
FREEKASSA_SECRET1=(4r+2mIlY4}?=qW
FREEKASSA_SECRET2=tn&B}iKuhM5jJs{

MARZBAN_URL=http://142.93.107.127:8000
MARZBAN_USERNAME=Bogach
MARZBAN_PASSWORD=Agata181213

SITE_URL=https://vpn.touchme.tech
